body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #f1f0f6;
}

:root {
  --title-color: #322153;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  color: var(--title-color);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
}

/* Página Home */
#page-home {
  height: 100vh;
  background: #f1f0f6 url('../images/icones/home-background.svg') no-repeat right bottom -80px;
  background-size: 750px;
}

header {
  width: 100%;
  padding: 50px 0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
  height: 60px;
  background: url('../images/icones/logo.svg') no-repeat;
  background-size: 100%;
  font-size: 0;
  display: block;
  float: left;
}

.btn-cadastro {
  color: var(--title-color);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}


.btn-cadastro:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/icones/log-in.svg) no-repeat center;
  margin: 0 5px -9px 0;
}

#page-home main {
  flex: 1;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home main {
  flex: 1;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home main h1 {
  font-size: 58px;
  margin: 0 0 20px;
}

#page-home main h2 {
  font-size: 24px;
  margin: 0 0 20px;
  font-weight: normal;
  color: grey;
}

#page-home main button {
  background: #34CC79;
  border-radius: 10px;
  padding: 20px 0 20px 62px;
  color: white;
  border: none;
  width: 300px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  margin: 30px 0 0;
}

#page-home main button:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #32BA72 url(../images/icones/search.svg) no-repeat center;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px 0px 0px 10px;
}

/* Página de Cadastro de Ponto de Coleta */
#cadastro-ponto {

}

.btn-home {
  color: var(--title-color);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.btn-home:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../images/icones/arrow-left.svg) no-repeat center;
  margin: 0 5px -9px 0;
}

#cadastro-ponto form {
  background: white;
  max-width: 730px;
  margin: 0 auto;
  padding: 30px 50px;
}

#cadastro-ponto form fieldset {
  border: none;
  margin: 10px 0 40px;
  padding: 0;
}
#cadastro-ponto form fieldset legend {
  width: 100%;
}
#cadastro-ponto form fieldset .aviso {
  font-family: Roboto;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #6C6C80;
  float: right;
  margin: -45px 0 0;
}

#cadastro-ponto form fieldset input[type="text"] {
  border: none;
  background: #F0F0F5;
  border-radius: 8px;
  width: 90%;
  padding: 15px 5%;
}

#cadastro-ponto form fieldset select {
  border: none;
  background: #F0F0F5;
  border-radius: 8px;
  width: 100%;
  padding: 15px 5%;
}

#cadastro-ponto form fieldset label {
  font-family: Roboto;
  font-size: 14px;
  padding: 10px 0;
  display: block;
}

#cadastro-ponto form .field {
  
}
#cadastro-ponto form .field-group {
  display: flex;
}
#cadastro-ponto form .field-group .field {
  flex: 1;
  margin: 0 5px;
}

#cadastro-ponto form .items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  padding: 0;
}

#cadastro-ponto form .items-grid li {
  list-style: none;
  background: #E1FAEC;
  height: 110px;
  padding: 50px 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #E1FAEC;
}

#cadastro-ponto form .items-grid li.selected {
  background: #c8ffe0;
  border: 2px solid #34CB79;
  font-weight: bold;
}

#cadastro-ponto form .items-grid li img {
  pointer-events: none;
}
#cadastro-ponto form .items-grid li span {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--title-color);
  pointer-events: none;
}

#cadastro-ponto form button {
  background: #34CB79;
  border-radius: 10px;
  padding: 20px;
  color: white;
  border: none;
  width: 300px;
  height: 60px;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  float: right;
}




