{% extends "partials/layout.html" %}

{% set bodyId = "cadastro-ponto" %}

{% block title %}
  <title>Ecoleta - Cadastrar Ponto de Coleta</title>
{% endblock title %}

{% block header %}
  {% include "partials/page-header.html" %}
{% endblock header %}
{% block main %}
  <form action="/savepoint" method="POST">

    <h1>Cadastro de ponto de coleta</h1>
    <fieldset>
      <legend>
        <h2>Dados da entidade</h2>
      </legend>
      <div class="field-group">
        <div class="field">
          <label for="name">Nome da entidade</label>
          <input type="text" name="name" required="required"/>
        </div>
        <div class="field">
          <label for="image">Imagem da entidade</label>
          <input type="text" name="image" required="required"/>
        </div>
      </div>
      <div class="field-group">
        <div class="field">
          <label for="address">Endereço</label>
          <input type="text" name="address" required="required"/>
        </div>
        <div class="field">
          <label for="address2">Número</label>
          <input type="text" name="address2" required="required"/>
        </div>
      </div>
      <div class="field-group">
        <div class="field">
          <label for="uf">Estado</label>
          <select name="uf" required="required">
            <option value="">Selecione o estado</option>
          </select>
          <input type="hidden" name="state"/>
        </div>
        <div class="field">
          <label for="cityselect">Cidade</label>
          <select name="cityselect" required="required" disabled="disabled">
            <option value="">Selecione a cidade</option>
          </select>
          <input type="hidden" name="city"/>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>
        <h2>Itens de coleta</h2>
        <p class="aviso">Selecione um ou mais itens abaixo</p>
      </legend>

      <ul class="items-grid">
        <li data-id="Lâmpadas">
          <img src="images/icones/lampadas.svg" alt="Lâmpadas">
          <span>Lâmpadas</span>
        </li>
        <li data-id="Pilhas e baterias">
          <img src="images/icones/baterias.svg" alt="Pilhas e baterias">
          <span>Pilhas e baterias</span>
        </li>
        <li data-id="Papéis e papelão">
          <img src="images/icones/papeis-papelao.svg" alt="Papéis e papelão">
          <span>Papéis e papelão</span>
        </li>
        <li data-id="Resíduos eletrônicos">
          <img src="images/icones/eletronicos.svg" alt="Resíduos eletrônicos">
          <span>Resíduos eletrônicos</span>
        </li>
        <li data-id="Resíduos orgânicos">
          <img src="images/icones/organicos.svg" alt="Resíduos orgânicos">
          <span>Resíduos orgânicos</span>
        </li>
        <li data-id="Óleo de cozinha">
          <img src="images/icones/oleo.svg" alt="Óleo de cozinha">
          <span>Óleo de cozinha</span>
        </li>
      </ul>
      <input type="hidden" name="items"/>
    </fieldset>

    <button type="submit">Cadastrar ponto de coleta</button>
  </form>

  {% if saved %}
    {% include "partials/modal-cadastrado.html" %}
  {% endif %}

{% endblock main %}

{% block addJS %}
  <script src="js/ponto-coleta.js"></script>
{% endblock addJS %}