{% extends "partials/layout.html" %}

{% set bodyId = "page-search-results" %}

{% block title %}
  <title>Ecoleta - Resultado de Busca</title>
{% endblock title %}

{% block header %}
  {% include "partials/page-header.html" %}
{% endblock header %}
{% block main %}

  {% if total > 0 %}

    <h3>
      <strong>{{ total }}
        pontos</strong>
      encontrados</h3>
    <div class="cards">

      {% for place in places %}
        <div class="card">
          <figure>
            <img src="{{ place.image }}" alt="{{ place.name }}"/>
            <figcaption>
              <h4>{{ place.name }}</h4>
              <p class="categoria">{{ place.items }}</p>
              <p> {{ place.city }}
                {{ place.state }}
                <br>
                {{ place.address }}
                <br> 
                {{ place.address2 }}</p>
            </figcaption>
          </figure>
        </div>
      {% endfor %}

    </div>

  {% else %}

    <h3>Nenhum ponto encontrado :(</h3>

  {% endif %}

{% endblock main %}